/*Fonts*/

@font-face {
  font-family: "shocka-bold";
  src: url("font/shockaserif-bold-webfont.woff2") format("woff2"),
    url("font/shockaserif-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "shocka";
  src: url("font/shockaserif-light-webfont.woff2") format("woff2"),
    url("font/shockaserif-light-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/************************************************************* Root CSS ****************************************************************************/

:root {
  --primary: #fdfdfd;
  --font-white: #fdfdfd;
  --btn-color: #531939;
  --heading: #121b24;
  --paragraph: #25374c;
  --nav-links: #210615;
  --paragraph-highlight: #b92b79;

  --pink-100: #fddfef;
  --pink-200: #fcc1e1;
  --pink-300: #fba3d3;
  --pink-400: #fa87c6;
  --pink-500: #f96dba;
  --pink-600: #f855af;
  --pink-700: #b92b79;
  --pink-800: #531939;

  --blue-100: #f2f8ff;
  --blue-200: #c5e1ff;
  --blue-300: #9cccff;
  --blue-400: #73b7ff;
  --blue-500: #4ea4ff;
  --blue-600: #2d93ff;
  --blue-700: #0f84ff;
  --blue-800: #0076f3;
  --blue-900: #004fa2;

  --sand-100: #fdf1df;
  --sand-200: #fce4c1;
  --sand-300: #fbd7a3;
  --sand-400: #facb87;
  --sand-500: #f9c06d;
  --sand-600: #f8b655;
  --sand-700: #f7ac3f;
  --sand-800: #d2891e;
  /*Font-sizes*/
  --font-size-xs: 0.5rem;
  --font-size-sm: clamp(0.8rem, -0.12vw + 0.83rem, 0.73rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 1.22vw + 0.94rem, 1.92rem);
  --font-size-lg: clamp(1.56rem, 2.81vw + 0.86rem, 3.11rem);
  --font-size-xl: clamp(1.95rem, 5.59vw + 0.55rem, 5.03rem);
  --font-size-xxl: clamp(2.44rem, 10.36vw + -0.15rem, 8.14rem);
  --font-size-xxxl: clamp(3.05rem, 18.39vw + -1.55rem, 13.17rem);
  /*Letter spacing */
  --letter-spacing-lg: 0.15em;
  --letter-spacing-md: 0.1em;
  --letter-spacing-sm: 0.08em;
  /*Spacing*/
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 0.75rem;
  --spacing-5: 1rem;
  --spacing-6: 1.15rem;
  --spacing-7: 2rem;
  --spacing-8: 2.5rem;
  --spacing-9: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 10rem;
  --spacing-14: 120rem;
  /*Borders*/
  --border-pink-thin: 2px solid var(--pink-800);
  --border-blue-thin: 2px solid var(--blue-900);
  /*Easing*/
  --easing: 250ms ease;
  /*Shadow*/
  --shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

/************************************************************* Root slut ****************************************************************************/

/************************************************************* General styling ****************************************************************************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-grid {
  margin-inline: var(--spacing-8);
}

img {
  height: auto;
  width: 100%;
}

body {
  background-color: var(--primary);
}

*:focus-visible {
  outline: 3px solid black;
  outline-offset: 4px;
}
.emphasis {
  color: var(--pink-700);
}

.section {
  margin-block: var(--spacing-13);
}
/**Komponenter**/

.button-primary {
  background-color: var(--pink-300);
  border: none;
  color: var(--pink-800);
  width: 12rem;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-4);
  font-size: var(--font-size-base);
  font-weight: bold;
  font-family: "shocka-bold", serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  box-shadow: var(--shadow);
}

.button-secondary {
  background-color: var(--blue-900);
  border: none;
  color: var(--font-white);
  width: 12rem;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-4);
  font-size: var(--font-size-sm);
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.button-outlined-var {
  background-color: transparent;
  border: var(--border-blue-thin);
  color: var(--blue-900);
  width: 12rem;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-4);
  font-size: var(--font-size-sm);
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.button-outlined {
  background-color: transparent;
  border: var(--border-pink-thin);
  color: var(--pink-800);
  width: 12rem;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-4);
  font-size: var(--font-size-sm);
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.peechy-points {
  position: fixed;
  top: 80%;
  left: 1%;
}

.points-btn {
  border: none;
  background: transparent;
  animation: rotate_kf;
  animation-duration: 6s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.notice {
  position: fixed;
  display: none;
}

/************************************************************* General slut ****************************************************************************/

.heading-xxxl,
.heading-one-lg {
  font-family: "shocka-bold", serif;
  font-weight: bold;
  font-size: var(--font-size-xxxl);
  letter-spacing: var(--letter-spacing-lg);
}

.heading-xxl,
.heading-one {
  font-family: "shocka-bold", serif;
  font-weight: bold;
  font-size: var(--font-size-xxl);
  letter-spacing: var(--letter-spacing-lg);
}

.heading-xl {
  font-family: "shocka-bold", serif;
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-block: var(--spacing-4);
}
.heading-lg {
  font-family: "shocka-bold", serif;
  font-weight: bold;
  font-size: var(--font-size-lg);
}

.heading-md {
  font-family: "shocka", serif;

  font-size: var(--font-size-md);
}
.p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-base);

  margin-block: var(--spacing-6);
}

.p-small {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-sm);

  margin-block: var(--spacing-6);
}

.heading-base,
.p-lead {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-base);
}
.heading-sm {
  font-family: "shocka-bold", serif;
  font-weight: bold;
  font-size: var(--font-size-sm);
}

.small-text {
  font-family: "shocka", serif;
  font-size: var(--font-size-sm);
}

.arrow {
  position: relative;
  width: 100vw;
  top: 20vh;
}

.arrow svg {
  position: absolute;
  left: 50%;
  animation-name: bounce_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease;
}

/************************************************************* Mobil styling ****************************************************************************/

/* NAVIGATION */

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--primary);
}

.top-header {
  background: rgb(255, 210, 220);
  background: linear-gradient(
    90deg,
    rgba(255, 210, 220, 1) 0%,
    rgba(252, 220, 161, 1) 100%
  );
  color: var(--nav-links);
  display: flex;
  justify-content: space-evenly;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-8);
}

ul li {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: var(--nav-links);
  font-size: var(--font-size-lg);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-block: var(--spacing-4);
  padding-inline: var(--spacing-8);
  align-items: center;
}

.logo {
  width: 4rem;
}

.dropdown {
  display: flex;

  align-items: center;
}

.arrow-ikon {
  width: 30px;
  height: 30px;
  display: inline;
}

/* NAVIGATION SLUT */

.hero {
  height: 100vh;
  display: grid;
  background-image: url("billeder/splash.jpg");
  background-size: cover;
  position: relative;
  align-content: center;
}

.custom-shape-divider-bottom-1653556236 {
  position: absolute;
  bottom: -1%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653556236 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.custom-shape-divider-bottom-1653556236 .shape-fill {
  fill: var(--primary);
}

.hero-content {
  justify-self: center;
  display: grid;
}

.hero > * {
  margin-block: var(--spacing-2);
}

.splash-logo {
  width: 70vw;
}

.hero-h1 {
  justify-self: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.justify-center {
  justify-self: center;
}

.bullet-point {
  min-width: 250px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-block: var(--spacing-8);
}

.bullet-point article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bullet-img {
  display: flex;
  justify-content: center;
}

@media (max-width: 730px) {
  .burger-content {
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: var(--spacing-12);
    background-color: var(--primary);
    position: absolute;
    left: 100%;
    transition: var(--easing);
  }
  .open {
    left: 0;
  }

  .bar {
    width: 20px;
    height: 2px;
    background-color: var(--nav-links);
    margin: var(--spacing-2) 0;
    transition: var(--easing);
  }

  .burger {
    position: relative;
    z-index: 100;
    transition: var(--easing);
  }

  .burger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .burger.open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  .nav-links {
    margin-block: var(--spacing-5);
  }

  .nav-icons {
    display: flex;
    gap: var(--spacing-8);
  }

  .nav-links > *,
  .nav-icons > * {
    margin-block: var(--spacing-4);
  }

  .desktop-only {
    display: none;
  }

  .notice {
    display: none;
  }
}

/************************************************************* Mobil slut ****************************************************************************/

/************************************************************* Tablet styling ****************************************************************************/

@media (min-width: 730px) {
  .main-grid {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
  }

  .content-wrapper {
    grid-column-start: 2;
    display: grid;
    justify-items: center;
  }
  .nav-links,
  .nav-icons {
    display: flex;
    gap: var(--spacing-8);
    align-items: center;
  }

  .burger-content {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-13);
  }

  .burger {
    display: none;
  }

  .nav-ikon {
    width: 30px;
    height: 30px;
  }

  ul a {
    text-decoration: none;
    color: var(--nav-links);
    font-size: var(--font-size-base);
  }

  .mission {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-2); */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    max-width: 800px;
  }

  /*   .mission-content {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .graphic {
    grid-column-start: 1;
    grid-row-end: span 3;
  } */
}

/************************************************************* Tablet slut ****************************************************************************/

/************************************************************* Desktop styling ****************************************************************************/

@media (min-width: 1000px) {
  .main-grid {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
  }
  .arrow {
    top: 10vh;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }

  .bullets {
    display: flex;
    gap: var(--spacing-6);
  }
}

/************************************************************* Desktop slut ****************************************************************************/
/**********************************HOVERS**************/
@media (min-width: 600px) {
  .button:hover {
    animation: vibrate-2 100ms ease infinite both;
    transition: var(--easing);
    border-radius: 0 999px 999px 0;
  }
}

/****************************KEYFRAMES*****************/
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  40% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  60% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
  }
  80% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes bounce_kf {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes rotate_kf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
  }
}
