/************************************************************* Root CSS ****************************************************************************/

:root {
  --primary: #fff;
}

/************************************************************* Root slut ****************************************************************************/

/************************************************************* General styling ****************************************************************************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
}

/**Komponenter**/

.button {
}

/************************************************************* General slut ****************************************************************************/

/************************************************************* Mobil styling ****************************************************************************/

/************************************************************* Mobil slut ****************************************************************************/

/************************************************************* Tablet styling ****************************************************************************/

@media (min-width: 600px) {
}

/************************************************************* Tablet slut ****************************************************************************/

/************************************************************* Desktop styling ****************************************************************************/

@media (min-width: 1000px) {
}

/************************************************************* Desktop slut ****************************************************************************/
